# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache

api/.classpath
api/.project
api/.settings

common/.classpath
common/.project
common/.settings

customer-service/.classpath
customer-service/.project
customer-service/.settings

order-service/.classpath
order-service/.project
order-service/.settings

payment-service/.classpath
payment-service/.project
payment-service/.settings

persistence/.classpath
persistence/.project
persistence/.settings

web/.classpath
web/.project
web/.settings
