# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache

api/.classpath
api/.project
api/.settings
api/target/
api/logs/

common/.classpath
common/.project
common/.settings
common/target/

service-a/.classpath
service-a/.project
service-a/.settings
service-a/target/
service-a/logs/

service-b/.classpath
service-b/.project
service-b/.settings
service-b/target/
service-b/logs/

service-c/.classpath
service-c/.project
service-c/.settings
service-c/target/
service-c/logs/

service-d/.classpath
service-d/.project
service-d/.settings
service-d/target/
service-d/logs/

persistence/.classpath
persistence/.project
persistence/.settings
persistence/target/
persistence/logs/

web/.classpath
web/.project
web/.settings
web/target/
web/logs/

